@media (max-width: 768px) {
	.top {
		padding: 0 10px;
	}
	.about-item {
		width: 100%;
	}
	.food-items {
		width: 100%;
	}
	.phan-hoi-item {
		width: 100%;
		margin-bottom: 20px;
	}
	.ho-tro-item {
		width: 100%;
	}
	.food-items {
		width: 100%;
	}
}

@media (max-width: 360px) {
	label.logo {
		font-size: 30px;
		padding-left: 50px;
	}
	.checkbtn {
		display: block;
	}
	ul {
		position: fixed;
		width: 100vw;
		background: #2c3e50;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s ;
	}
	nav ul li {
		display: block;
		margin: 25px 0;
		line-height: 30px;
	}
	nav ul li {
		font-size: 20px;
		border-top: 2px solid #eee;
		margin-top: 0;
	}
	a:hover,a.active {
		background:  none;
		color: #0082e6;
	}
	#check:checked ~ ul {
		left: 0;
	}

}

@media (max-width:  1160px) {
	label.logo {
		font-size: 30px;
		padding-left: 50px;
	}
	.checkbtn {
		display: block;
	}
	ul {
		position: fixed;
		width: 100vw;
		background: #2c3e50;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s ;
	}
	nav ul li {
		display: block;
		margin: 25px 0;
		line-height: 30px;
	}
	nav ul li {
		font-size: 20px;
		border-top: 2px solid #eee;
		margin-top: 0;
	}
	a:hover,a.active {
		background:  none;
		color: #0082e6;
	}
	#check:checked ~ ul {
		left: 0;
	}

}
