@media (max-width: 768px) {
	.top {
		padding: 0 10px;
	}
	.about-item {
		width: 100%;
	}
	.food-items {
		width: 100%;
	}
	.phan-hoi-item {
		width: 100%;
		margin-bottom: 20px;
	}
	.ho-tro-item {
		width: 100%;
	}
	.food-items {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	#main-menu {
		flex-direction: column;
		text-align: left;
	}

	.toggle {
		display: block;

	}
	nav {
		display: none;		
		background: #902a2c;
	}
	
}
